body {
    margin: 0px;
}

:root {
    --ci1: #33658A;
    --ci2: #86BBD8;
    --ci3: #758E4F;
    --ci4: #F6AE2D;
    --ci5: #F26419;
    --link: var(--ci1);
    --link-hover: var(--ci2);
    --btn-bg: var(--ci1);
    --btn-bg-hover: var(--ci2);
    --nav-link: var(--ci1);
    --nav-hover: var(--ci2);
    --bg-color: #fff;
    --text-color: #242C5B;
    --box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 2px 4px 0 rgba(0, 0, 0, .08);
    --round: 5px;
    --pmr-font: var(--font-Prompt), -apple-system, BlinkMacSystemFont, "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --txt-font: var(--font-anuphan);
}

#div_desc_home {
    position: absolute;
    top: 16%;
    left: 7%;
    width: 610px;
    height: 280px;
    z-index: 6;
}

#desc_home {
    font-size: 150px;
    line-height: 1;
    font-weight: 900;
}

#desc_home_red {
    color: #DC3F50;
}

#btn_home {
    display: flex;
    justify-content: center;
    background-color: #DC3F50;
    text-align: center;
    border-radius: 50px;
    width: 15em;
    margin: -3.5em 0px 0px 25px;
    padding: 20px;
    transition: 0.5s;
}

#btn_home:hover {
    background-color: #F5D26A;
}

#btn_home b {
    margin: auto;
    vertical-align: middle;
    font-size: 25px;
}

#btn_home img {
    margin: auto;
    width: 1.5em;
}

.container {
    width: 100%;
    height: 100vh;
}

.sky {
    background: rgb(243, 210, 219);
    background: linear-gradient(360deg, rgba(243, 210, 219, 1) 0%, rgba(230, 233, 246, 1) 100%);
    background-repeat: no-repeat;
    height: 35vh;
}

.ground {
    bottom: 100%;
    width: 100%;
}

.decoration {
    width: 50%;
}


/*  ---------------- Home Asset ---------------- */

#sand {
    position: absolute;
    z-index: 2;
    /* animation: wave 2s cubic-bezier(0.42, 0, 0.58, 1.0) 0s infinite alternate both;
    animation-iteration-count: infinite; */
}

#water {
    margin: 0px;
}

#nong {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 40%;
    animation: mymove 0.7s cubic-bezier(0.42, 0, 0.58, 1.0) 0s infinite alternate both;
    animation-iteration-count: infinite;
}

#mountain {
    position: absolute;
    left: 26.5%;
    bottom: 63%;
    z-index: 4;
}

#bush {
    position: absolute;
    z-index: 5;
    left: -10%;
    bottom: -6%;
}

#plant1 {
    position: absolute;
    z-index: 4;
    left: -4%;
    bottom: 17%;
}

#plant2 {
    position: absolute;
    z-index: 4;
    left: 11%;
    bottom: 2%;
}

#bush_s {
    position: absolute;
    z-index: 5;
    left: 20%;
    bottom: -13%;
}

#top_plant {
    position: absolute;
    left: -12%;
    bottom: 82%;
    z-index: 3;
    transform-origin: top left;
    animation-name: bush_b;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

#palm_tree {
    position: absolute;
    z-index: 5;
    left: 63%;
    bottom: 30%;
    transform-origin: bottom right;
    animation-name: bush_f;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#sand_mark {
    position: absolute;
    z-index: 3;
    left: 1%;
    bottom: 4%;
}

.decoration {}


/* ---------------- Home Asset ---------------- */


/* ---------------- Cloud ---------------- */

#cloud {
    position: absolute;
    left: 0%;
    top: 3%;
    width: 100%;
}

#cloud_1 {
    position: relative;
    animation: wind 40s linear infinite;
}

#cloud_2 {
    position: relative;
    transform: translateX(520px);
    animation: wind 35s linear infinite;
    /* margin: 60px 0px 0px 0px ; */
    margin-top: 60px;
}


/* ---------------- Cloud ---------------- */

@keyframes mymove {
    0% {
        top: 40%;
    }
    100% {
        top: 41%;
    }
}

@keyframes wind {
    0% {
        transform: translateX(-700px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(700px);
        opacity: 0;
    }
}

@keyframes wave {
    0% {
        width: 50%;
    }
    100% {
        width: 53%;
    }
    0% {
        width: 50%;
    }
}


/* -------------- Leaf ------------- */

#bush,
#bush_s {
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes bush_f {
    50% {
        transform: translateX(-5px)rotate(-5deg);
    }
    100% {
        transform: translateX(0px)rotate(0deg);
    }
}

#plant1,
#plant2 {
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes bush_b {
    50% {
        transform: translateX(5px)rotate(5deg);
    }
    100% {
        transform: translateX(0px)rotate(0deg);
    }
}

@keyframes bush_f {
    50% {
        transform: translateX(-5px)rotate(-5deg);
    }
    100% {
        transform: translateX(0px)rotate(0deg);
    }
}

@keyframes bush_b {
    50% {
        transform: translateX(5px)rotate(5deg);
    }
    100% {
        transform: translateX(0px)rotate(0deg);
    }
}


/* -------------- Pages ------------- */


/* #p1 {
    background-color: #A2A7D1;
    z-index: 6;
    position: absolute;
} */

#p2 {
    background-color: #A2A7D1;
    z-index: 6;
    position: relative;
}