
body {
    margin: 0px;
    max-width: 100%;
    overflow-x: hidden;
}

:root {
    --ci1: #33658A;
    --ci2: #86BBD8;
    --ci3: #758E4F;
    --ci4: #F6AE2D;
    --ci5: #F26419;
    --link: var(--ci1);
    --link-hover: var(--ci2);
    --btn-bg: var(--ci1);
    --btn-bg-hover: var(--ci2);
    --nav-link: var(--ci1);
    --nav-hover: var(--ci2);
    --bg-color: #fff;
    --text-color: #242C5B;
    --box-shadow: 0 0 0 1px rgba(0, 0, 0, .04), 0 2px 4px 0 rgba(0, 0, 0, .08);
    --round: 5px;
    --pmr-font: var(--font-Prompt), -apple-system, BlinkMacSystemFont, "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --txt-font: var(--font-anuphan);
    --c1: #F3D2DB;
    --d1: 0.20;
    --c2: #DC3F50;
    --d2: 0.80;
    /* Rotation points for shades */
    --p2: calc(var(--d1) + var(--d2));
    --p3: calc(var(--p2) + var(--d3));
    /* Chart sizing */
    --w: 25vw;
    --w14: calc(var(--w) / -4);
}

#div_desc_home {
    position: absolute;
    top: 11vw;
    left: 7%;
    width: 20vw;
    z-index: 6;
}

#div_desc_home img {
    width: 30vw;
}

#desc_home {
    font-size: 150px;
    line-height: 1;
    font-weight: 900;
}

#desc_home_red {
    color: #DC3F50;
}

#btn_home {
    display: flex;
    justify-content: center;
    background-color: #DC3F50;
    text-align: center;
    border-radius: 50px;
    width: 17vw;
    margin: -3vw 0vw 0vw 1vw;
    padding: 1vw;
}

.vw-1 {
    height: 1vw !important;
}

.vw-2 {
    height: 2vw !important;
}

.vw-3 {
    height: 3vw !important;
}

.vw-4 {
    height: 4vw !important;
}

.vw-5 {
    height: 5vw !important;
}
.vw-6 {
    height: 6vw !important;
}
/* =============== */
.lh-1 {
    line-height: 1.5vw !important;
}

.lh-2 {
    line-height: 2vw !important;
}

.lh-3 {
    line-height: 4vw !important;
}

.vw-4 {
    height: 4vw !important;
}

#btn_home:hover {
    background-color: #F5D26A;
}

#btn_home b {
    margin: auto;
    vertical-align: middle;
    font-size: 1.6vw;
}

#btn_home img {
    margin: auto;
    width: 3vw;
}

#text_head_p1 {
    font-size: 4.2vw;
    font-stretch: 100%;
}

#span_text_page1_part2 {
    font-size: 1.5vw;
}

#span_text_page1_part3 {
    font-size: 1.01vw;
    color: #242C5B;
}

#span_text_page1_part4 {
    font-size: 1.01vw;
    color: #242C5B;
}

#img_text_page1_part1 {
    height: 22.5vw;
}

#img_text_page1_part2 {
    width: 45vw;
}

#p2_img_part3 {
    height: 40vw;
}

#p2_text_part3 {
    font-size: 1vw;
}

#p2_text_part4 {
    font-size: 2.5vw;
}

#p2_text_part5 {
    font-size: 1vw;
}

#p2_text_part6 {
    font-size: 2.5vw;
}

#p2_text_part7 {
    font-size: 1vw;
}

#p2_text_part8 {
    font-size: 2vw;
}

#img_text_page2_part4 {
    height: 25vw;
}

#text_in_pie_chart1 {
    font-size: 2vw;
}

#text_in_pie_chart2 {
    font-size: 3vw;
}


/* ------ element page 2_left ------ */

#img_close_p2_left {
    position: absolute;
    top: 2vw;
    left: 94%;
    height: 3vw;
    z-index: 6;
}

#ground_p2_left {
    position: absolute;
    top: 30vw;
    left: 0%;
    width: 100%;
    height: 40vw;
    background-color: #fff;
}

#img_p2_left_part1 {
    position: absolute;
    top: 11vw;
    left: -3%;
    z-index: 1;
    height: 24vw;
}

#img_p2_left_part2 {
    position: absolute;
    top: 21vw;
    left: 45%;
    z-index: 1;
    height: 23vw;
}
#p2_text_80{
    position: absolute;
    top: 9vw;
    left: 10%;
    font-size: 2vw;
    color: #F5D26A;
    font-weight: 900;
}
#p2_text_80 b{ 
    font-size: 3vw;
}
#p2_text_20{
    position: absolute;
    top: 11.5vw;
    left: 60%;
    font-size: 1.3vw;
    color: #242C5B;
    font-weight: 900;
}
#p2_text_20 b{ 
    font-size: 2vw;
}
#p2_img_tab{
    position: absolute;
    top: 17vw;
    left: 23%;
    height: 2vw;
}

/* ------ element page 2_right ------ */

#img_close_p2_right {
    position: absolute;
    top: 2vw;
    left: 4%;
    height: 3vw;
    z-index: 6;
}

#ground_p2_right {
    position: absolute;
    top: 19vw;
    left: 0%;
    width: 100%;
    height: 40vw;
    background-color: #4BB0BA;
}

#img_p2_right_part1 {
    position: absolute;
    top: 16vw;
    left: -19%;
    z-index: 1;
    height: 48vw;
}

#p3_text_part1 {
    font-size: 5vw;
    color: #242C5B;
}

#p3_text_part2 {
    font-size: 2vw;
    color: #242C5B;
}

#p3_text_part3 {
    font-size: 1vw;
    color: #242C5B;
}

.container {
    width: 100%;
    height: 100vh;
}

.sky {
    background: rgb(243, 210, 219);
    background: linear-gradient(360deg, rgba(243, 210, 219, 1) 0%, rgba(230, 233, 246, 1) 100%);
    background-repeat: no-repeat;
    height: 36vh;
}

.ground {
    top: 100%;
    width: 100%;
}

.decoration {
    width: 50%;
}


/*  ---------------- Pie Chart ---------------- */

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font: 2em "Ubuntu", sans-serif;
    flex-basis: 100%;
    line-height: 1.5;
    margin-bottom: 0.75em;
    text-align: center;
}

ul {
    list-style: none;
    margin: 0 0 1.5em 1.5em;
}

.data {
    background-color: #000;
    background-image: conic-gradient( var(--c1) 0 calc(100% * var(--d1)), var(--c2) 0 calc(100% * var(--p2)));
    border-radius: 50%;
    margin: 0 0 1.5em 0;
    position: relative;
    width: var(--w);
    height: var(--w);
}

.data li {
    color: #fff;
    line-height: 0;
    position: absolute;
    top: 12vw;
    left: 5%;
    text-align: center;
    width: 100%;
}

.data li:nth-of-type(1) {
    --r: var(--d1)/2;
    transform: rotate(calc(360deg * var(--r))) translateY(var(--w14)) rotate(calc(-360deg * var(--r)));
}

.data li:nth-of-type(2) {
    --r: calc(var(--d1) + var(--d2)/2);
    transform: rotate(calc(360deg * var(--r))) translateY(var(--w14)) rotate(calc(-360deg * var(--r)));
}

.data li:nth-of-type(3) {
    --r: calc(var(--1p2) + var(--d3)/2);
    transform: rotate(calc(360deg * var(--r))) translateY(var(--w14)) rotate(calc(-360deg * var(--r)));
}

.data li:nth-of-type(4) {
    --r: calc(var(--2p3) + var(--d4)/2);
    transform: rotate(calc(360deg * var(--r))) translateY(var(--w14)) rotate(calc(-360deg * var(--r)));
}

.key li:before {
    content: "";
    display: inline-block;
    margin-right: 0.375em;
    vertical-align: middle;
    width: 1em;
    height: 1em;
}

.key li:nth-of-type(1):before {
    background: var(--c1);
}

.key li:nth-of-type(2):before {
    background: var(--c2);
}

.key li:nth-of-type(3):before {
    background: var(--c3);
}

.key li:nth-of-type(4):before {
    background: var(--c4);
}


/*  ---------------- Home Asset ---------------- */

#sand {
    position: absolute;
    top: 17.55vw;
    z-index: 2;
    height: 35vw;
    /* animation: wave 2s cubic-bezier(0.42, 0, 0.58, 1.0) 0s infinite alternate both;
    animation-iteration-count: infinite; */
}

#water {
    top: 17.55vw;
    left: 1%;
    position: absolute;
    margin: 0px;
    height: 36vw;
}

#nong {
    width: 40vw;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 20vw;
    /* animation: mymove 0.7s cubic-bezier(0.42, 0, 0.58, 1.0) 0s infinite alternate both; */
    animation-iteration-count: infinite;
}

#mountain {
    position: absolute;
    left: 28%;
    top: 9vw;
    z-index: 4;
    width: 75vw;
}

#bush {
    position: absolute;
    z-index: 5;
    left: -10%;
    top: 32vw;
    height: 23vw;
}

#plant1 {
    position: absolute;
    z-index: 4;
    left: -4%;
    top: 28vw;
    height: 15vw;
}

#plant2 {
    position: absolute;
    z-index: 4;
    left: 9%;
    top: 36vw;
    height: 15vw;
}

#bush_s {
    position: absolute;
    z-index: 5;
    left: 21%;
    top: 44vw;
    height: 13vw;
}

#top_plant {
    position: absolute;
    left: -8%;
    top: -5vw;
    z-index: 3;
    transform-origin: top left;
    animation-name: bush_b;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    height: 15vw;
}

#palm_tree {
    position: absolute;
    z-index: 5;
    left: 63%;
    top: -10vw;
    transform-origin: bottom right;
    animation-name: bush_f;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    height: 45vw;
}

#sand_mark {
    position: absolute;
    z-index: 3;
    left: 1%;
    top: 18vw;
    height: 30vw;
}

.place_holder {
    position: absolute;
    z-index: 8;
    width: 2.5vw;
}


#ph_1:hover + #placeholder_desc2{
    position: absolute;
    z-index: 8;
    width: 20vw;
    top: 23vw;
    left: 79.5vw;
    transition: 1s;
    display: block;
}
#placeholder_desc2{
    display: none;
    position: absolute;
    z-index: 8;
    width: 20vw;
    top: 23vw;
    left: 79.5vw;
    transition: 1s;
}
#ph_2:hover + #placeholder_desc3{
    z-index: 8;
    width: 20vw;
    top: 20.5vw;
    left: 69.5vw;
    transition: 1s;
    display: block;
}
#placeholder_desc3{
    display: none;
    position: absolute;
    z-index: 8;
    width: 20vw;
    top: 20vw;
    left: 69.5vw;
    transition: 1s;
}
#ph_3:hover + #placeholder_desc4{
    z-index: 8;
    width: 20vw;
    top:20vw;
    left: 79%;
    transition: 1s;
    display: block;
}
#placeholder_desc4{
    position: absolute;
    z-index: 8;
    width: 20vw;
    top: 14.5vw;
    left: 0vw;
    transition: 1s;
    display: none;
}
#ph_4:hover + #placeholder_desc5{
    z-index: 8;
    width: 20vw;
    top:39vw ;left: 25%;
    transition: 1s;
    display: block;
}
#placeholder_desc5{
    position: absolute;
    z-index: 8;
    width: 20vw;
    top: 14.5vw;
    left: 0vw;
    transition: 1s;
    display: none;
}
#ph_5:hover + #placeholder_desc6{
    z-index: 8;
    top:45vw ;left: 22%;

    transition: 1s;
    display: block;
}
#placeholder_desc6{
    position: absolute;
    z-index: 8;
    width: 20vw;
    top: 14.5vw;
    left: 0vw;
    transition: 1s;
    display: none;
}
#ph_6:hover + #placeholder_desc7{
    z-index: 8;
    width: 20vw;
    top:41vw ;left: 30%;
    transition: 1s;
    display: block;
}
#placeholder_desc7{
    position: absolute;
    z-index: 8;
    width: 20vw;
    top: 14.5vw;
    left: 0vw;
    transition: 1s;
    display: none;
}
#ph_7:hover + #placeholder_desc8{
    z-index: 8;
    width: 20vw;
    top:56vw ;left: 33%;
    transition: 1s;
    display: block;
}
#placeholder_desc8{
    position: absolute;
    z-index: 8;
    width: 20vw;
    top: 14.5vw;
    left: 0vw;
    transition: 1s;
    display: none;
}
#ph_8:hover + #placeholder_desc9{
    z-index: 8;
    width: 20vw;
    top:61vw ;left: 35%;
    transition: 1s;
    display: block;
}
#placeholder_desc9{
    position: absolute;
    z-index: 8;
    width: 20vw;
    top: 14.5vw;
    left: 0vw;
    transition: 1s;
    display: none;
}
#ph_9:hover + #placeholder_desc10{
    z-index: 8;
    width: 20vw;
    top:67vw ;left: 45%;
    transition: 1s;
    display: block;
}
#placeholder_desc10{
    position: absolute;
    z-index: 8;
    width: 20vw;
    top: 14.5vw;
    left: 0vw;
    transition: 1s;
    display: none;
}

/* ---------------- Home Asset ---------------- */


/* ---------------- Cloud ---------------- */

#cloud {
    position: absolute;
    left: 0%;
    top: 1.5vw;
    width: 100%;
}

#cloud_1 {
    position: relative;
    animation: wind 40s linear infinite;
    width: 28vw;
}

#cloud_2 {
    position: relative;
    transform: translateX(520px);
    animation: wind 35s linear infinite;
    /* margin: 60px 0px 0px 0px ; */
    margin-top: 2vw;
    width: 28vw;
}


/* ---------------- Cloud ---------------- */

@keyframes mymove {
    0% {
        top: 40%;
    }
    100% {
        top: 41%;
    }
}

@keyframes wind {
    0% {
        transform: translateX(-700px);
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(700px);
        opacity: 0;
    }
}

@keyframes wave {
    0% {
        width: 50%;
    }
    100% {
        width: 53%;
    }
    0% {
        width: 50%;
    }
}


/* -------------- Leaf ------------- */

#bush,
#bush_s {
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

#plant1,
#plant2 {
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}

@keyframes bush_f {
    50% {
        transform: translateX(-5px)rotate(-5deg);
    }
    100% {
        transform: translateX(0px)rotate(0deg);
    }
}

@keyframes bush_b {
    50% {
        transform: translateX(5px)rotate(5deg);
    }
    100% {
        transform: translateX(0px)rotate(0deg);
    }
}


/* -------------- Pages ------------- */

#home {
    height: 52vw;
}

#p1 {
    background-color: #A2A7D1;
    z-index: 6;
    position: relative;
    height: 102.9vw;
    transition: all 0.3s;
}

#p2 {
    position: relative;
    width: 100%;
    height: 35vw;
    background-color: #242C5B;
    z-index: 8;
}

#p3 {
    position: relative;
    width: 100%;
    height: 95vw;
    background-color: #E6EAF5;
}

#p4 {
    position: relative;
    width: 100%;
    height: 50vw;
    z-index: 3;
    background-color: #4BB0BA;
}

#p2_left {
    display: none;
    position: fixed;
    top: 0vw;
    left: 0%;
    width: 100%;
    height: 70vw;
    z-index: 10;
    background: linear-gradient( to bottom, #E6E8F5, #F2D3DD);
}

#p2_right {
    display: none;
    position: fixed;
    top: 0vw;
    left: 0%;
    width: 100%;
    height: 80vw;
    z-index: 10;
    background: linear-gradient( to bottom, #E6E8F5, #F2D3DD);
}

#p5 {
    position: relative;
    width: 100%;
    height: 153vw;
    background-color: #E6EAF5;
    background: linear-gradient( to bottom, #242C5B 0%, #242C5B 5.2%, #DC3F50 49%, #EA9140 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

#p7 {
    position: relative;
    width: 100%;
    height: 50vw;
    background-color: #F3D2DB;
    z-index: 4;
}

#p7_1 {
    position: relative;
    width: 100%;
    height: 150vw;
    background-color: #4BB0BA
}

#p8 {
    position: relative;
    width: 100%;
    height: 50vw;
    background-color: #F5D26A
}

#p9 {
    position: relative;
    width: 100%;
    height: 50vw;
    background-color: #A2A7D1
}

#p3_bg {
    width: 100%;
    position: absolute;
    top: 0%;
}

.paragraph_center {
    text-align: center;
    color: white;
}

.paragraph_left {
    text-align: left;
    color: white;
}

#head_text_p3 {
    font-size: 3vw;
    color: #F5D26A;
}

#Second_text_p3 {
    font-size: 5vw;
}

#wave1 {
    z-index: 6;
    width: 100%;
    position: absolute;
    top: 40%;
}

#wave2 {
    z-index: 7;
    width: 100%;
    position: absolute;
    top: 56%;
}

#wave3 {
    width: 100%;
    z-index: 8;
    position: absolute;
    top: 80%;
}

#sand_ground1 {
    position: absolute;
    z-index: 8;
    left: 35.5%;
    top: 96vw;
    height: 7vw;
}

#sand_ground2 {
    position: absolute;
    z-index: 5;
    left: 13.5%;
    top: 92vw;
    height: 8vw;
}

#sand_ground3 {
    position: absolute;
    z-index: 7;
    left: 0%;
    top: 98vw;
    height: 5vw;
}

#plant {
    position: absolute;
    z-index: 7;
    left: 3%;
    top: 70vw;
    height: 30vw;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}

#seaplant {
    position: absolute;
    z-index: 7;
    left: 22%;
    top: 89vw;
    height: 11vw;
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#seaplant2 {
    position: absolute;
    z-index: 7;
    left: 40%;
    top: 85vw;
    height: 16vw;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#seaplant3 {
    position: absolute;
    z-index: 5;
    left: 70%;
    top: 89vw;
    height: 8vw;
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#seaweed1 {
    position: absolute;
    z-index: 5;
    left: 60%;
    top: 86vw;
    height: 15vw;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#seaweed2 {
    position: absolute;
    z-index: 5;
    left: 80%;
    top: 86vw;
    height: 15vw;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#seaweed3 {
    position: absolute;
    z-index: 5;
    left: 89%;
    top: 86vw;
    height: 15vw;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#seaweed4 {
    position: absolute;
    z-index: 5;
    left: 92%;
    top: 86vw;
    height: 15vw;
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#stone {
    position: absolute;
    z-index: 8;
    left: 53%;
    top: 97vw;
    height: 4vw;
}

#mariam_p2 {
    position: absolute;
    z-index: 7;
    left: 53%;
    top: 42%;
    width: 40%;
    transition: 1s;
}

#plastic_bag {
    position: absolute;
    z-index: 7;
    left: 8%;
    width: 40%;
    top: 14%;
    transition: 1s;
}

#bg_undersea {
    position: relative;
    width: 100%;
    height: 130vw;
    background: red;
    /* fallback color */
    background: linear-gradient( to bottom, #4BB0BA, #242C5B);
    background-repeat: no-repeat;
    background-size: cover;
}

#thailand {
    position: absolute;
    z-index: 7;
    top: 0%;
    right: 0%;
    width: 80%;
}
#red_placeholder{
    position: absolute;
    z-index: 8;
    width: 3vw;

}
#red_placeholder:hover +  #placeholder_desc{
    position: absolute;
    z-index: 8;
    width: 20vw;
    top: 14.5vw;
    left: 72vw;
    display: block;
    transition: 1s;
}
#placeholder_desc{
    position: absolute;
    z-index: 8;
    width: 20vw;
    top: 14.5vw;
    left: 74vw;
    display: none;
    transition: 1s;
}

#p5_content_1 {
    position: absolute;
    margin-top: 15%;
}

#p5_content_2 {
    position: absolute;
    margin-top: 50%;
}

#p5_content_3 {
    position: absolute;
    margin-top: 80%;
}

#cave_ceiling {
    position: absolute;
    top:458vw;
    z-index: 2;
    left: -1%;
    width: 102%;
}

#lava_floor1 {
    position: absolute;
    z-index: 1;
    top: 138vw;
    left: -1%;
    width: 102%;
}

#lava_floor2 {
    position: absolute;
    z-index: 8;
    top: 143vw;
    left: -3%;
    width: 105%;
}

#seaweed_p5 {
    position: absolute;
    z-index: 6;
    top: 127vw;
    height: 19vw;
    left: 7%;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#seaplant_p5 {
    position: absolute;
    z-index: 6;
    top: 142vw;
    height: 8vw;
    left: 50%;
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#plant_p5 {
    position: absolute;
    top: 138vw;
    z-index: 6;
    left: 80%;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#plant2_p5 {
    position: absolute;
    z-index: 6;
    top: 144vw;
    left: 60%;
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#head_text_p5 {
    color: #F5D26A;
    position: relative;
    z-index: 9;
    top: 11.5vw;
}

/* ---------- page7 ---------*/

#cloud_p7 {
    position: absolute;
    left: 0%;
    top: 5vw;
    width: 100%;
}

#cloud_71 {
    position: relative;
    animation: wind 40s linear infinite;
    width: 28vw;
}

#cloud_72 {
    position: relative;
    transform: translateX(520px);
    animation: wind 35s linear infinite;
    animation-delay: -10s;
    margin-top: 2vw;
    width: 28vw;
}

#sand_p7 {
    position: absolute;
    top: 29.8vw;
    z-index: 9;
    width: 100%;
}

#sand_right_p7 {
    position: absolute;
    top: 37vw;
    z-index: 10;
    width: 10%;
    right: -2%;
}

#water_p7 {
    position: absolute;
    top: 36vw;
    z-index: 9;
    width: 100%;
}

#plant_p7 {
    position: absolute;
    top: 37.5vw;
    z-index: 10;
    width: 9%;
    right: -4%;
}

#mountain_p7 {
    position: absolute;
    top: 22.1vw;
    z-index: 10;
    width: 55%;
    left: -8%;
}

#tree_p7 {
    position: absolute;
    top: 9vw;
    z-index: 10;
    width: 30%;
    left: -8%;
}

#left_plant1_p7 {
    position: absolute;
    top: 26vw;
    z-index: 11;
    width: 22%;
    left: -11%;
}

#left_plant2_p7 {
    position: absolute;
    top: 23.5vw;
    z-index: 10;
    width: 14%;
    left: -6.5%;
}

#sand_area {
    position: absolute;
    top: 52vw;
    z-index: 10;
    width: 50%;
    right: 0%;

}
#captured_mariam{
    position: absolute;
    top: 102vw;
    left: 4%;
    z-index: 10;
    width: 45%;
    

}
#boat{
    position: absolute;
    top: 140vw;
    z-index: 10;
    width: 110%;
    left: -10%;
    

}
#web{
    position: absolute;
    top: 103.3vw;
    z-index: 10;
    width: 41%;
    left: 6.5%;
    

}
#driver_1{
    position: absolute;
    top: 80vw;
    z-index: 10;
    width: 10%;
    left: 12%;
}
#driver_2{
    position: absolute;
    top: 53vw;
    z-index: 10;
    width: 10%;
    left: 50%;
}
#sand_area {
    position: absolute;
    top: 58vw;
    z-index: 10;
    width: 50%;
    right: 0%;

}
#p8_img {
    position: absolute;
    top: 32.8vw;
    z-index: 9;
    width: 100%;
}

#head_text_p8 {
    font-size: 3vw;
    position: relative;
    z-index: 9;
    top: 9vw;
    margin: 0%;
    color: #DC3F50;
}

#second_text_p8 {
    font-size: 1.58vw;
    position: relative;
    z-index: 9;
    top: 9vw;
    margin: 0%;
    color: #242C5B;
}

#p9_img {
    position: absolute;
    top: 13.3vw;
    left: 25%;
    z-index: 9;
    width: 50%;
}


/* floating */

#bubble1 {
    position: absolute;
    height: 10vw;
    transform: rotate(79deg);
    left: -6%;
    bottom: 0%;
    z-index: 6;
    animation-name: bubble;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -2s;
}

#bubble2 {
    position: absolute;
    height: 7.5vw;
    transform: rotate(79deg);
    left: 4%;
    bottom: 0%;
    z-index: 6;
    animation-name: bubble;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -2s;
}

#bubble3 {
    position: absolute;
    height: 9.8vw;
    left: 25%;
    bottom: 0%;
    z-index: 6;
    animation-name: bubble;
    animation-duration: 13s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -2s;
}

#bubble4 {
    position: absolute;
    height: 7.2vw;
    transform: rotate(79deg);
    left: 54%;
    bottom: 0%;
    z-index: 6;
    animation-name: bubble;
    animation-duration: 11s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -2s;
}

#bubble5 {
    position: absolute;
    height: 7vw;
    left: 66%;
    bottom: 0%;
    z-index: 6;
    animation-name: bubble;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -2s;
}

#bubble6 {
    position: absolute;
    height: 9.8vw;
    left: 72%;
    bottom: 0%;
    z-index: 6;
    animation-name: bubble;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -2s;
}

@keyframes bubble {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        transform: translatey(-95vw);
        opacity: 0;
    }
}


/* floating2 */

#bubble21,
#bubble22,
#bubble23,
#bubble24,
#bubble25,
#bubble26,
#bubble27,
#bubble28,
#bubble29,
#bubble20,
#triangle1,
#triangle2,
#triangle3,
#triangle4,
#triangle5,
#triangle6,
#triangle7,
#triangle8,
#triangle9,
#triangle0 {
    position: absolute;
    z-index: 6;
    animation-name: float;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-delay: -18s;
    bottom: 0%
}

#bubble21 {
    height: 6vw;
    left: 66%;
    animation-duration: 17s;
}

#bubble22 {
    height: 3.7vw;
    left: 51%;
    animation-duration: 14s;
}

#bubble23 {
    height: 6vw;
    left: 14%;
    animation-duration: 19s;
}

#bubble24 {
    height: 3.7vw;
    left: 27%;
    animation-duration: 13s;
}

#bubble25 {
    height: 6vw;
    left: 33%;
    animation-duration: 18.5s;
}

#bubble26 {
    height: 3.7vw;
    left: 7%;
    animation-duration: 15.5s;
}

#bubble27 {
    height: 6vw;
    left: 41%;
    animation-duration: 17.5s;
}

#bubble28 {
    height: 3.7vw;
    left: 74%;
    animation-duration: 12s;
}

#bubble29 {
    height: 6vw;
    left: 86%;
    animation-duration: 16.5s;
}

#bubble20 {
    height: 3.7vw;
    left: 97%;
    animation-duration: 13.5s;
}

#triangle1 {
    height: 1.5vw;
    left: 66%;
    animation-duration: 25s;
}

#triangle2 {
    height: 1.5vw;
    left: 22%;
    transform: rotate(-53deg);
    animation-duration: 21.5s;
}

#triangle3 {
    height: 1.5vw;
    left: 82%;
    transform: rotate(-166deg);
    animation-duration: 24s;
}

#triangle4 {
    height: 1.5vw;
    left: 36%;
    transform: rotate(54deg);
    animation-duration: 26.5s;
}

#triangle5 {
    height: 1.5vw;
    left: 43%;
    transform: rotate(30deg);
    animation-duration: 23s;
}

#triangle6 {
    height: 1.5vw;
    left: 8%;
    transform: rotate(-43deg);
    animation-duration: 25s;
}

#triangle7 {
    height: 0.7vw;
    left: 20%;
    transform: rotate(-166deg);
    animation-duration: 19s;
}

#triangle8 {
    height: 0.7vw;
    left: 40%;
    transform: rotate(-52deg);
    animation-duration: 18s;
}

#triangle9 {
    height: 0.7vw;
    left: 60%;
    transform: rotate(42deg);
    animation-duration: 17s;
}

#triangle0 {
    height: 0.7vw;
    left: 80%;
    transform: rotate(61deg);
    animation-duration: 20s;
}

@keyframes float {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        transform: translatey(-160vw);
        opacity: 0;
    }
}


/* ----------------- Page 4 ----------------- */

#static {
    position: absolute;
    width: 100%;
    height: 75vh;
    bottom: 5%;
    z-index: 8;
}

.scale {
    position: absolute;
    width: 3%;
    background-color: #ffffff;
    border-radius: 50px;
    bottom: 0%;
    text-align: center;
}

#scale_y {
    left: 17%;
    background-color: #F5D26A;
}

#seaweed41 {
    position: absolute;
    top: 34.2vw;
    left: 1%;
    z-index: 5;
    height: 9.8vw;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#s1,
#s2,
#s3,
#s4 {
    position: absolute;
    top: 37.1vw;
    z-index: 5;
    height: 7vw;
}

#s1 {
    left: 9%;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#s2 {
    left: 8%;
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#s3 {
    left: 9.8%;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#s4 {
    left: 9.1%;
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#sand41 {
    position: absolute;
    top: 36.5vw;
    left: 18.5%;
    z-index: 5;
    height: 7.6vw;
}

#sand42 {
    position: absolute;
    top: 37.2vw;
    right: 0%;
    z-index: 5;
    height: 7vw;
}

#seaweed42 {
    position: absolute;
    top: 28.2vw;
    right: 5%;
    z-index: 5;
    height: 13.7vw;
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#year1 {
    position: absolute;
    color: #ffffff;
    font-size: 1.7vw;
    top: 44.5vw;
    left: 21.5%;
    z-index: 9;
}

#year2 {
    position: absolute;
    color: #ffffff;
    font-size: 1.7vw;
    top: 44.5vw;
    left: 26.5%;
    z-index: 9;
}

#year3 {
    position: absolute;
    color: #ffffff;
    font-size: 1.7vw;
    top: 44.5vw;
    left: 31.5%;
    z-index: 9;
}

#year4 {
    position: absolute;
    color: #ffffff;
    font-size: 1.7vw;
    top: 44.5vw;
    left: 36.5%;
    z-index: 9;
}

#year5 {
    position: absolute;
    color: #ffffff;
    font-size: 1.7vw;
    top: 44.5vw;
    left: 41.5%;
    z-index: 9;
}

#year6 {
    position: absolute;
    color: #ffffff;
    font-size: 1.7vw;
    top: 44.5vw;
    left: 46.5%;
    z-index: 9;
}

#year7 {
    position: absolute;
    color: #ffffff;
    font-size: 1.7vw;
    top: 44.5vw;
    left: 51.5%;
    z-index: 9;
}

#year8 {
    position: absolute;
    color: #ffffff;
    font-size: 1.7vw;
    top: 44.5vw;
    left: 56.5%;
    z-index: 9;
}

#year9 {
    position: absolute;
    color: #ffffff;
    font-size: 1.7vw;
    top: 44.5vw;
    left: 61.5%;
    z-index: 9;
}

#year10 {
    position: absolute;
    color: #ffffff;
    font-size: 1.7vw;
    top: 44.5vw;
    left: 66.5%;
    z-index: 9;
}

#year11 {
    position: absolute;
    color: #ffffff;
    font-size: 1.7vw;
    top: 44.5vw;
    left: 71.5%;
    z-index: 9;
}

#year12 {
    position: absolute;
    color: #F5D26A;
    font-size: 1.7vw;
    top: 44.5vw;
    left: 76.5%;
    z-index: 9;
}

#closetab {
    position: absolute;
    width: 100%;
    height: 6vw;
    top: 88%;
    background-color: #242C5B;
    z-index: 8;
}
/* ------------------ page 6 ------------------*/

#p6{
    /* display: flex;
    flex-direction: row; */
    position: relative;
    width: 100%;
    height: 55vw;
    background-color: #F5D26A;
    z-index: 2;
}
#p6_page1{
    position: absolute;
    left: 0%;
    width: 100%;    
    height: 30vw;
    opacity: 1;
    transition: 1s;
}
#p6_page2{
    position: absolute;
    left: 100%;
    width: 100%;    
    height: 30vw;
    opacity: 0;
    transition: 1s;
}
#p6_page3{
    position: absolute;
    left: 100%;
    width: 100%;    
    height: 30vw;
    opacity: 0;
    transition: 1s;
}
#p6_text_part1{
   font-size: 4.5vw;
}
#header_img1{
    position:absolute;
    top: -2vw;
    left: -1.1%;
    height: 19vw;
    z-index: 4;
}

#header_img2{
    position:absolute;
    top: -2vw;
    right: -1.1%;
    height: 19vw;
    z-index: 4;
}
/* ------------------ page 6 ------------------*/

#ground_p6{
    position: absolute;
    top: 27.7vw;
    height: 4.5vw;
    z-index: 3;
}
#back_p6{
    position: absolute;
    top: 27vw;
    height: 5.2vw;
    left: 22%;
    z-index: 1;
}
#s_seaweed{
    position: absolute;
    top: 24.2vw;
    height: 8vw;
    left: -4%;
    z-index: 3;
}
#seaweed61{
    position: absolute;
    top: 18.2vw;
    height: 14vw;
    left: -1%;
    z-index: 3;
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#seaweed62{
    position: absolute;
    top: 18.2vw;
    height: 12vw;
    left: 9.5%;
    z-index: 2;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#seaweed63{
    position: absolute;
    top: 17.2vw;
    height: 13vw;
    left: 45%;
    z-index: 2;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#seaweed64{
    position: absolute;
    top: 18.2vw;
    height: 12vw;
    right: -1%;
    z-index: 2;
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#nong_p6{
    position: absolute;
    top: 4.2vw;
    height: 19vw;
    left: 14%;
    z-index: 4;
}
#r_arrow_p6{
    position: absolute;
    top: 29.2vw;
    left: 93%;
    height: 3vw;
    z-index: 8;
}
#l_arrow_p6{
    display: none;
    position: absolute;
    top: 29.2vw;
    left: 5%;
    height: 3vw;
    z-index: 8;
}
/*  page6 part2 */
#nong_p6_part2{
    position: absolute;
    top: 0vw;
    left: 23.5%;
    height: 23vw;
    z-index: 4;
}
/*  page6 part3 */
#ground_p6_part3{
    position: absolute;
    top: 27.5vw;
    left: -5%;
    height: 5vw;
    z-index: 5;
}
#seaweed_p6_part3_1{
    position: absolute;
    top: 26vw;
    left: 60%;
    height: 6vw;
    z-index: 4;
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#seaweed_p6_part3_2{
    position: absolute;
    top: 20vw;
    left: 32%;
    height: 10vw;
    z-index: 4;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#seaweed_p6_part3_3{
    position: absolute;
    top: 22vw;
    left: 17%;
    height: 9vw;
    z-index: 4;
    transform-origin: bottom;
    animation-name: bush_f;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#seaweed_p6_part3_4{
    position: absolute;
    top: 23vw;
    left: 90%;
    height: 9vw;
    z-index: 4;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#seaweed_p6_part3_5{
    position: absolute;
    top: 24.5vw;
    left: 5%;
    height: 5vw;
    z-index: 5;
    transform-origin: bottom;
    animation-name: bush_b;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}


/* ------- step progress ------*/
#step_progress{
    position: absolute;
    top: 19vw;
    left: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#step_progress ul{
    width: 28vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    margin: 0px 0px 50px 0px;
    position: relative;
}
#step_progress ul::before{
    content: '';
    width: 100%;
    height: 0.1vw;
    display: block;
    background: #242C5B;
    position: absolute;
    z-index: -2;
}
#step_progress ul::after{
    content: '';
    height: 0.2vw;
    display: block;
    background: #242C5B;
    position: absolute;
    z-index: -1;
}
#step_progress ul.step-1::after{
    width: 0%;
}
#step_progress ul.step-2::after{
    width: 50%;
}
#step_progress ul.step-3::after{
    width: 100%;
}
#step_progress ul li span{
    width: 1vw;
    height: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#242C5B;
    border-radius: 50px;
    border: 0.15vw solid #707070;
    font-weight: bold;
}
#step_progress ul li.active span{
    width: 1.5vw;
    height: 1.5vw;
    background: #242C5B;
    border: 0.2vw solid #707070;
    /* box-shadow : 0px 0px 10px #707070; */
}

/* ------- progress bar page ------*/
#progress_bar_page1{
    position: absolute;
    top: 19vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page2-1{
    position: absolute;
    top: 15vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page2-2{
    position: absolute;
    top: 55vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page3-1{
    position: absolute;
    top: 19vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page3-2{
    position: absolute;
    top: 63vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page3-3{
    position: absolute;
    top: 105vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page3-4{
    position: absolute;
    top: 140vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page4-1{
    position: absolute;
    top: 19vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page4-2{
    position: absolute;
    top: 65vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page4-3{
    position: absolute;
    top: 117vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page5-1{
    position: absolute;
    top: 35vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page5-2{
    position: absolute;
    top: 65vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page5-3{
    position: absolute;
    top: 103vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page6{
    position: absolute;
    top: 23vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page7-1{
    position: absolute;
    top: 25vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page7-2{
    position: absolute;
    top: 65vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page7-3{
    position: absolute;
    top: 118vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page7-4{
    position: absolute;
    top: 155vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page8-1{
    position: absolute;
    top: 10vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}
#progress_bar_page8-2{
    position: absolute;
    top: 70vw;
    left: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 12;
}

.progress_bar ul{
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
    margin: 0px 0px 50px 0px;
    position: relative;
    flex-direction: column;
}
/* ------ style progress page ------ */
.progress_bar ul.step-1::after{
    width: 0%;
}
.progress_bar ul.step-2::after{
    width: 50%;
}
.progress_bar ul.step-3::after{
    width: 100%;
}
.progress_bar ul li span{
    width: 0.8vw;
    height: 0.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#FFFFFF;
    opacity: 25%;
    border-radius: 50px;
    font-weight: bold;
}
.progress_bar ul li.active span{
    background: #FFFFFF;
    opacity: 100%;
    /* box-shadow : 0px 0px 10px #707070; */
}
/*------ pie Chart ------*/
#myChart{
    z-index: 12;
    /* -ms-transform: rotate(60deg);
   -webkit-transform: rotate(60deg);
   transform: rotate(60deg); */
}